<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
.border-class {
	border: outset;
	margin: 20px;
	padding: 20px;
}
</style>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
	integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
	integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
	crossorigin="anonymous"></script>
<title>Trip view</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-color: #3f5d20;">

	<!-- Hide errorModal if there is no error: -->
	<div th:remove="${error} == null ? all : none">
		<!-- Open errorModal on page load: -->
		<script type="text/javascript">
			$(window).on('load', function() {
				$('#errorModal').modal('show');
			});
		</script>
	</div>

	<!-- Bootstrap Modal that displays an error message: -->
	<div class="modal fade" id="errorModal" tabindex="-1" role="dialog"
		aria-labelledby="errorModalLabel" aria-hidden="true"
		data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="errorModalLabel">Error</h5>
				</div>
				<div class="modal-body">

					<label th:text="${error}"></label>

				</div>
				<div class="modal-footer">
					<a class="btn btn-secondary" role="button" href="/driver/list">Okay</a>
				</div>
			</div>
		</div>
	</div>

	<div th:remove="${trip} == null ? all : none"
		class="row justify-content-center align-right">
		<div class="container">
			<div class="row">
				<div class="container" id="formContainer">
					<form class="border-class" style="background-color: white;">
						<h1 align="center">Trip</h1>
						<br />


						<div class="row">
							<div class="col-sm-4">
								<h5>Details</h5>
								<div class="row">
									<div class="col-xs-6">
										<p>Customer: &nbsp;&nbsp;</p>
										<p>Animal: &nbsp;&nbsp;</p>
										<p>Count: &nbsp;&nbsp;</p>
										<p>Date: &nbsp;&nbsp;</p>
										<p>Estimated Time: &nbsp;&nbsp;</p>
										<p>Used Time: &nbsp;&nbsp;</p>
										<p>Driver: &nbsp;&nbsp;</p>
										<p>Vehicle: &nbsp;&nbsp;</p>
										<p>State: &nbsp;&nbsp;</p>
										<p>Feedback: &nbsp;&nbsp;</p>
									</div>
									<div class="col-xs-6">
										<p
											th:text="${trip.customer != null} ?  ${trip.customer} : 'not set'" />
										<p
											th:text="${trip.animal != null} ?  ${trip.animal} : 'not set'" />
										<p
											th:text="${trip.animalCount != null} ?  ${trip.animalCount} : 'not set'" />
										<p th:text="${trip.date != null} ?  ${trip.date} : 'not set'" />
										
										<p th:text="${trip.estimate != null} ?  ${trip.estimate} : 'not set'" />
										<p th:text="${trip.used != null} ?  ${trip.used} : 'not set'" />
										
										<p
											th:text="${trip.driver != null} ?  ${trip.driver} : 'not set'" />
										<p
											th:text="${trip.vehicle != null} ? ${trip.vehicle} : 'not set'" />
										<p th:text="${trip.tripState}" />
										<p
											th:text="${trip.feedback != null} ? ${trip.feedback} : 'not set'" />
									</div>
								</div>
							</div>



							<div class="col-sm-4">
								<h5>Start address</h5>
								<div class="row">
									<div class="col-xs-6">
										<p>First name: &nbsp;&nbsp;</p>
										<p>Last name: &nbsp;&nbsp;</p>
										<p>Street: &nbsp;&nbsp;</p>
										<p>Number: &nbsp;&nbsp;</p>
										<p>City: &nbsp;&nbsp;</p>
										<p>PLZ: &nbsp;&nbsp;</p>
									</div>
									<div class="col-xs-6">
										<p
											th:text="${trip.firstname_1 != null} ?  ${trip.firstname_1} : 'not set'" />
										<p
											th:text="${trip.lastname_1 != null} ?  ${trip.lastname_1} : 'not set'" />
										<p
											th:text="${trip.street_1 != null} ?  ${trip.street_1} : 'not set'" />
										<p
											th:text="${trip.number_1!= null} ?  ${trip.number_1} : 'not set'" />
										<p
											th:text="${trip.city_1 != null} ?  ${trip.city_1} : 'not set'" />
										<p
											th:text="${trip.plz_1 != null} ?  ${trip.plz_1} : 'not set'" />
									</div>
								</div>
							</div>

							<div class="col-sm-4">
								<h5>End address</h5>
								<div class="row">
									<div class="col-xs-6">
										<p>First name: &nbsp;&nbsp;</p>
										<p>Last name: &nbsp;&nbsp;</p>
										<p>Street: &nbsp;&nbsp;</p>
										<p>Number: &nbsp;&nbsp;</p>
										<p>City: &nbsp;&nbsp;</p>
										<p>PLZ: &nbsp;&nbsp;</p>
									</div>
									<div class="col-xs-6">
										<p
											th:text="${trip.firstname_2 != null} ?  ${trip.firstname_2} : 'not set'" />
										<p
											th:text="${trip.lastname_2 != null} ?  ${trip.lastname_2} : 'not set'" />
										<p
											th:text="${trip.street_2 != null} ?  ${trip.street_2} : 'not set'" />
										<p
											th:text="${trip.number_2 != null} ?  ${trip.number_2} : 'not set'" />
										<p
											th:text="${trip.city_2 != null} ?  ${trip.city_2} : 'not set'" />
										<p
											th:text="${trip.plz_2 != null} ?  ${trip.plz_2} : 'not set'" />
									</div>
								</div>
							</div>
						</div>



						<div class="text-right">
							<a href="/driver/list"
								class="btn btn-outline-secondary pull-right">Back</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>