<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
.border-class {
	border: none;
	margin: 20px;
	padding: 20px;
}
</style>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
	integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
	integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
	crossorigin="anonymous"></script>
<title>Trip view</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<div id="carouselExampleControls" class="carousel slide"
		data-ride="carousel">
		<div class="carousel-inner" role="listbox"
			style="height: 350px !important;">

			<div class="carousel-item active">
				<img class="d-block w-100" src="/images/d.jpg" alt="First slide" />
			</div>
			<div class="carousel-item">
				<img class="d-block w-100" src="/images/a.jpg" alt="Second slide" />
			</div>
			<div class="carousel-item">
				<img class="d-block w-100" src="/images/b.jpg" alt="Third slide" />
			</div>
			<div class="carousel-item">
				<img class="d-block w-100" src="/images/deer.jpg" alt="Fourth slide" />
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleControls"
			role="button" data-slide="prev"> <span
			class="carousel-control-prev-icon" aria-hidden="true"></span> <span
			class="sr-only">Previous</span>
		</a> <a class="carousel-control-next" href="#carouselExampleControls"
			role="button" data-slide="next"> <span
			class="carousel-control-next-icon" aria-hidden="true"></span> <span
			class="sr-only">Next</span>
		</a>
	</div>



	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand"> <img src="/images/Logo.png" width="30"
			height="30" class="d-inline-block align-top" alt="" /> AniTrans
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto"></ul>
			<form class="form-inline my-2 my-lg-0">
				<a href="/user/logout" class="btn btn-outline-danger my-2 my-sm-0">Logout</a>
			</form>
		</div>
	</nav>

	<!-- Hide errorModal if there is no error: -->
	<div th:remove="${error} == null ? all : none">
		<!-- Open errorModal on page load: -->
		<script type="text/javascript">
			$(window).on('load', function() {
				$('#errorModal').modal('show');
			});
		</script>
	</div>

	<!-- Bootstrap Modal that displays an error message: -->
	<div class="modal fade" id="errorModal" tabindex="-1" role="dialog"
		aria-labelledby="errorModalLabel" aria-hidden="true"
		data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="errorModalLabel">Error</h5>
				</div>
				<div class="modal-body">

					<label th:text="${error}"></label>

				</div>
				<div class="modal-footer">
					<a class="btn btn-secondary" role="button" href="/driver/list">Okay</a>
				</div>
			</div>
		</div>
	</div>

	<div th:remove="${trip} == null ? all : none">
		<form class="border-class">
			<h1 align="center">
				<ins>Trip information</ins>
			</h1>
			<br />


			<div class="row">
				<div class="col-sm-4">
					<h5>
						<ins>Details</ins>
					</h5>
					<div class="row">
						<div class="col-xs-6">
							<p>
								<b>Customer: &nbsp;&nbsp;</b>
							</p>
							<p>
								<b>Animal: &nbsp;&nbsp;</b>
							</p>
							<p>
								<b>Count: &nbsp;&nbsp;</b>
							</p>
							<p>
								<b>Width: &nbsp;&nbsp;</b>
							</p>
							<p>
								<b>Length: &nbsp;&nbsp;</b>
							</p>
							<p>
								<b>Date: &nbsp;&nbsp;</b>
							</p>
							<p>
								<b>Estimated Time: &nbsp;&nbsp;</b>
							</p>
							<p>
								<b>Used Time: &nbsp;&nbsp;</b>
							</p>
							<p>
								<b>Driver: &nbsp;&nbsp;</b>
							</p>
							<p>
								<b>Vehicle: &nbsp;&nbsp;</b>
							</p>
							<p>
								<b>State: &nbsp;&nbsp;</b>
							</p>
							<p>
								<b>Feedback: &nbsp;&nbsp;</b>
							</p>
						</div>
						<div class="col-xs-6">
							<p
								th:text="${trip.customer != null} ?  ${trip.customer} : 'not set'" />
							<p th:text="${trip.animal != null} ?  ${trip.animal} : 'not set'" />

							<p
								th:text="${trip.animalCount != null} ?  ${trip.animalCount} : 'not set'" />


							<!-- TODO width -->
							<p th:text='width' />

							<!-- TODO length -->
							<p th:text='length' />


							<p th:text="${trip.date != null} ?  ${trip.date} : 'not set'" />

							<p
								th:text="${trip.estimate != null} ?  ${trip.estimate} : 'not set'" />
							<p th:text="${trip.used != null} ?  ${trip.used} : 'not set'" />

							<p th:text="${trip.driver != null} ?  ${trip.driver} : 'not set'" />
							<p
								th:text="${trip.vehicle != null} ? ${trip.vehicle} : 'not set'" />
							<p th:text="${trip.tripState}" />
							<p
								th:text="${trip.feedback != null} ? ${trip.feedback} : 'not set'" />
						</div>
					</div>
				</div>



				<div class="col-sm-4">
					<h5>
						<ins>Start address</ins>
					</h5>
					<div class="row">
						<div class="col-xs-6">
							<p>
								<b>First name: &nbsp;&nbsp;</b>
							</p>
							<p>
								<b>Last name: &nbsp;&nbsp;</b>
							</p>
							<p>
								<b>Street: &nbsp;&nbsp;</b>
							</p>
							<p>
								<b>Number: &nbsp;&nbsp;</b>
							</p>
							<p>
								<b>PLZ: &nbsp;&nbsp;</b>
							</p>
							<p>
								<b>City: &nbsp;&nbsp;</b>
							</p>

						</div>
						<div class="col-xs-6">
							<p
								th:text="${trip.firstname_1 != null} ?  ${trip.firstname_1} : 'not set'" />
							<p
								th:text="${trip.lastname_1 != null} ?  ${trip.lastname_1} : 'not set'" />
							<p
								th:text="${trip.street_1 != null} ?  ${trip.street_1} : 'not set'" />
							<p
								th:text="${trip.number_1!= null} ?  ${trip.number_1} : 'not set'" />
							<p th:text="${trip.plz_1 != null} ?  ${trip.plz_1} : 'not set'" />
							<p th:text="${trip.city_1 != null} ?  ${trip.city_1} : 'not set'" />

						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<h5>
						<ins>End address</ins>
					</h5>
					<div class="row">
						<div class="col-xs-6">
							<p>
								<b>First name: &nbsp;&nbsp;</b>
							</p>
							<p>
								<b>Last name: &nbsp;&nbsp;</b>
							</p>
							<p>
								<b>Street: &nbsp;&nbsp;</b>
							</p>
							<p>
								<b>Number: &nbsp;&nbsp;</b>
							</p>
							<p>
								<b>City: &nbsp;&nbsp;</b>
							</p>
							<p>
								<b>PLZ: &nbsp;&nbsp;</b>
							</p>
						</div>
						<div class="col-xs-6">
							<p
								th:text="${trip.firstname_2 != null} ?  ${trip.firstname_2} : 'not set'" />
							<p
								th:text="${trip.lastname_2 != null} ?  ${trip.lastname_2} : 'not set'" />
							<p
								th:text="${trip.street_2 != null} ?  ${trip.street_2} : 'not set'" />
							<p
								th:text="${trip.number_2 != null} ?  ${trip.number_2} : 'not set'" />
							<p th:text="${trip.city_2 != null} ?  ${trip.city_2} : 'not set'" />
							<p th:text="${trip.plz_2 != null} ?  ${trip.plz_2} : 'not set'" />
						</div>
					</div>
				</div>
			</div>

			<iframe width="600" height="450" frameborder="0" style="border: 0"
				allowfullscreen="allowfullscreen"
				th:src="@{https://www.google.com/maps/embed/v1/directions( 
								key = 'AIzaSyD2RAChUrA-HRcSdeyZcIHK4ryu7trN8dU', 
								origin = 'Uni+Engehalde,Neubrückstrasse+10,3012+Bern', 
								waypoints = |${trip.street_1} ${trip.number_1} ${trip.plz_1} ${trip.city_1} Schweiz|,
								destination = |${trip.street_2} ${trip.number_2} ${trip.plz_2} ${trip.city_2} Schweiz|,
								mode = 'driving'
							)}">
			</iframe>


			<div class="text-right">
				<a href="/driver/list" class="btn btn-outline-secondary pull-right">Back</a>
			</div>
		</form>
	</div>

</body>
</html>