<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Confirm Trip</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    
    <h1>Trip confirmation</h1>
	
    <form th:object="${form}" method="post">
        
        The trip was:
        <input type="radio" th:field="*{success}" value="true"/>Successful
		<input type="radio" th:field="*{success}" value="false"/>Unsuccessful
       	
		<br />
        <br />
        
        Feedback:
        <span th:if="${#fields.hasErrors('feedback')}" th:errors="*{feedback}" >Feedback Error</span>
        <br />
        <textarea name="Feedback" rows="6" cols="25" th:field="*{feedback}"> </textarea>
        
		<br />
        <a href="/driver/list">Cancel</a>
        <button type="submit">Save</button>

    </form>
	
</body>
</html>