<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Confirm Trip</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    
    <h1>Trip confirmation</h1>
	
    <form>
	<p>
        The trip was:
		<input type="radio" name="Feedback" value="Succsessful" checked="checked" />Successful
		<input type="radio" name="Feedback" value="Unsuccsessful" checked="checked" />Unsuccessful

	</p>
    
    <p> 
        Feedback:<br /><textarea name="Feedback" rows="6" cols="25"> </textarea>
    
    </p> 
    
    <p> 
        <button type="button">SUBMIT</button>
    
    </p>
        
    </form>
	
</body>
</html>