<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Trip List Driver</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<h2>Trips in active state</h2>

	<form action="#" th:action="@{/driver/list}" method="post">
		<fieldset>
			<button type="submit" name="action" value="view">View</button>
			<button type="submit" name="action" value="confirm">Confirm</button>
			<br></br>
			<table>
				<tr>
					<th></th>
					<th>Customer</th>
					<th>Animal</th>
					<th>Driver</th>
					<th>Date</th>
				</tr>
				<tr th:each="trip : ${tripsActive}">
					<td><input type="radio" name="select" th:value="${trip.id}"
						required="required"></input></td>
					<td th:text="${trip.customer}">customer</td>
					<td th:text="${trip.animal}">customer</td>
					<td th:text="(${trip.driver} != null ? ${trip.driver.name} : '')">customer</td>
					<td th:text="${trip.date}">customer</td>
				</tr>
			</table>
		</fieldset>
	</form>

	<h2>Trips in assigned state</h2>

	<form action="#" th:action="@{/driver/list}" method="post">
		<fieldset>
			<button type="submit" name="action" value="view">View</button>
			<br></br>
			<table>
				<tr>
					<th></th>
					<th>Customer</th>
					<th>Animal</th>
					<th>Driver</th>
					<th>Date</th>
				</tr>
				<tr th:each="trip : ${tripsAssigned}">
					<td><input type="radio" name="select" th:value="${trip.id}"
						required="required"></input></td>
					<td th:text="${trip.customer}">customer</td>
					<td th:text="${trip.animal}">customer</td>
					<td th:text="(${trip.driver} != null ? ${trip.driver.name} : '')">customer</td>
					<td th:text="${trip.date}">customer</td>
				</tr>
			</table>
		</fieldset>
	</form>

	<h2>Trips in expired state</h2>

	<form action="#" th:action="@{/driver/list}" method="post">
		<fieldset>
			<button type="submit" name="action" value="view">View</button>
			<br></br>
			<table>
				<tr>
					<th></th>
					<th>Customer</th>
					<th>Animal</th>
					<th>Driver</th>
					<th>Date</th>
				</tr>
				<tr th:each="trip : ${tripsExpired}">
					<td><input type="radio" name="select" th:value="${trip.id}"
						required="required"></input></td>
					<td th:text="${trip.customer}">customer</td>
					<td th:text="${trip.animal}">customer</td>
					<td th:text="(${trip.driver} != null ? ${trip.driver.name} : '')">customer</td>
					<td th:text="${trip.date}">customer</td>
				</tr>
			</table>
		</fieldset>
	</form>

	<h2>Trips in unsuccessful state</h2>

	<form action="#" th:action="@{/driver/list}" method="post">
		<fieldset>
			<button type="submit" name="action" value="view">View</button>
			<br></br>
			<table>
				<tr>
					<th></th>
					<th>Customer</th>
					<th>Animal</th>
					<th>Driver</th>
					<th>Date</th>
				</tr>
				<tr th:each="trip : ${tripsUnsuccessful}">
					<td><input type="radio" name="select" th:value="${trip.id}"
						required="required"></input></td>
					<td th:text="${trip.customer}">customer</td>
					<td th:text="${trip.animal}">customer</td>
					<td th:text="(${trip.driver} != null ? ${trip.driver.name} : '')">customer</td>
					<td th:text="${trip.date}">customer</td>
				</tr>
			</table>
		</fieldset>
	</form>

	<h2>Trips in successful state</h2>

	<form action="#" th:action="@{/driver/list}" method="post">
		<fieldset>
			<button type="submit" name="action" value="view">View</button>
			<br></br>
			<table>
				<tr>
					<th></th>
					<th>Customer</th>
					<th>Animal</th>
					<th>Driver</th>
					<th>Date</th>
				</tr>
				<tr th:each="trip : ${tripsSuccessful}">
					<td><input type="radio" name="select" th:value="${trip.id}"
						required="required"></input></td>
					<td th:text="${trip.customer}">customer</td>
					<td th:text="${trip.animal}">customer</td>
					<td th:text="(${trip.driver} != null ? ${trip.driver.name} : '')">customer</td>
					<td th:text="${trip.date}">customer</td>
				</tr>
			</table>
		</fieldset>
	</form>
	<a href="/user/logout">logout </a>

</body>
</html>