<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Trip editor</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Trip</h1>

	<p th:text="'Customer: ' + ${trip.customer}" />

	<h2>Start address</h2>
	<p th:text="'Name: ' + ${trip.name_1}" />
	<p th:text="'Street: ' + ${trip.street_1}" />
	<p th:text="'PLZ: ' + ${trip.plz_1}" />
	<p th:text="'City: ' + ${trip.city_1}" />

	<h2>End address</h2>
	<p th:text="'Name: ' + ${trip.name_2}" />
	<p th:text="'Street: ' + ${trip.street_2}" />
	<p th:text="'PLZ: ' + ${trip.plz_2}" />
	<p th:text="'City: ' + ${trip.city_2}" />

	<p th:text="'Animal: ' + ${trip.animal}" />
	<p th:text="'Count: ' + ${trip.animalCount}" />
	
	<!-- successful / unsuccessful -->
	
	<a href="/driver/list">Cancel</a>
</body>
</html>