<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
.border-class {
	border: outset;
	margin: 20px;
	padding: 20px;
}
</style>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous" />

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
	integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
	integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
	crossorigin="anonymous"></script>

<title>Vehicle editor</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body style="background-color: #3f5d20;">

	<!-- Hide errorModal if there is no error: -->
	<div th:remove="${error} == null ? all : none">
		<!-- Open errorModal on page load: -->
		<script type="text/javascript">
			$(window).on('load', function() {
				$('#errorModal').modal('show');
			});
		</script>
	</div>

	<!-- Bootstrap Modal that displays an error message: -->
	<div class="modal fade" id="errorModal" tabindex="-1" role="dialog"
		aria-labelledby="errorModalLabel" aria-hidden="true"
		data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="errorModalLabel">Error</h5>
				</div>
				<div class="modal-body">

					<label th:text="${error}"></label>

				</div>
				<div class="modal-footer">
					<a class="btn btn-secondary" role="button" href="/planner/list">Okay</a>
				</div>
			</div>
		</div>
	</div>


	<div th:remove="${vehicle} == null ? all : none"
		class="row justify-content-center align-right">

		<div class="container">
			<div class="row">
				<div class="container" id="formContainer">

					<form th:object="${vehicle}" method="post" class="border-class"
						style="background-color: white;">


						<h1 align="center">Create Vehicle</h1>

						<div>
							<label>Name:</label> <input class="form-control" type="text"
								th:field="*{name}" /> <label
								th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
								Error</label>
						</div>

						<div>
							<label>Width in cm:</label> <input class="form-control"
								type="number" th:field="*{width}" /> <label
								th:if="${#fields.hasErrors('width')}" th:errors="*{width}">Width
								Error> </label>
						</div>
						<div>
							<label>Length in cm:</label> <input class="form-control"
								type="number" th:field="*{length}" /> <label
								th:if="${#fields.hasErrors('length')}" th:errors="*{length}">Length
								Error> </label>
						</div>
						<div>

							<label>Count:</label> <input class="form-control" type="number"
								th:field="*{count}" /> <label
								th:if="${#fields.hasErrors('count')}" th:errors="*{count}">Count
								Error> </label>
						</div>

						<button type="submit" class="btn btn-outline-success">Save</button>
						<a href="/planner/vehicle/list" class="btn btn-outline-danger">Cancel</a>

					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>