<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
.border-class {
	border: outset;
	margin: 20px;
	padding: 20px;
}
</style>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
	integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
	integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
	crossorigin="anonymous"></script>
<title>Trip editor</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-color: #3f5d20;">

	<!-- Hide errorModal if there is no error: -->
	<div th:remove="${error} == null ? all : none">
		<!-- Open errorModal on page load: -->
		<script type="text/javascript">
			$(window).on('load', function() {
				$('#errorModal').modal('show');
			});
		</script>
	</div>

	<!-- Bootstrap Modal that displays an error message: -->
	<div class="modal fade" id="errorModal" tabindex="-1" role="dialog"
		aria-labelledby="errorModalLabel" aria-hidden="true"
		data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="errorModalLabel">Error</h5>
				</div>
				<div class="modal-body">

					<label th:text="${error}"></label>

				</div>
				<div class="modal-footer">
					<a class="btn btn-secondary" role="button" href="/planner/list">Okay</a>
				</div>
			</div>
		</div>
	</div>

	<div th:remove="${trip} == null ? all : none"
		class="row justify-content-center align-right">
		<div class="container">
			<div class="row">
				<div class="container" id="formContainer">
					<form th:object="${trip}" method="post" class="border-class"
						style="background-color: white;">

						<h1 align="center"
							th:text="${create} ? 'Create new Trip' : 'Edit trip'">Title</h1>
						<br />
						<div class="form-group" align="center">
							<div class="col-4" align="center">
								<label>Customer:</label> <input type="text" class="form-control"
									th:field="*{customer}" /> <label
									th:if="${#fields.hasErrors('customer')}"
									th:errors="*{customer}">Customer Error</label>
							</div>
						</div>
						<br />

						<div class="form-row">
							<div class="col-4">
								<label>Animal:</label> <input type="text" class="form-control"
									th:field="*{animal}" /> <label
									th:if="${#fields.hasErrors('animal')}" th:errors="*{animal}">Animal
									Error </label>
							</div>
							<div class="col-2">
								<label>Count:</label> <input type="number" class="form-control"
									th:field="*{animalCount}" /> <label
									th:if="${#fields.hasErrors('animalCount')}"
									th:errors="*{animalCount}">Animal Count Error </label>
							</div>
						</div>


						<div class="form-row">
							<div class="form-group col-md-4">
								<label>Date and Time:</label> <input type="datetime-local"
									class="form-control" th:field="*{date}" /> <label
									th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Date
									and Time Error </label>
							</div>
							<div class="form-group col-md-1">
								<label>Estimated</label> <input class="form-control"
									type="number" min="0" placeholder="h"
									th:field="*{estimateHours}" /><label
									th:if="${#fields.hasErrors('estimateHours')}"
									th:errors="*{estimateHours}">Estimate Hours Error </label>
							</div>
							<div class="form-group col-md-1">
								<label>time:</label> <input class="form-control" type="number"
									min="0" max="59" placeholder="min"
									th:field="*{estimateMinutes}" /><label
									th:if="${#fields.hasErrors('estimateMinutes')}"
									th:errors="*{estimateMinutes}">Estimate Minutes Error </label>
							</div>
						</div>


						<div class="form-row">
							<div class="col-2">
								<label>Driver:</label> <select th:field="*{driverId}"
									class="form-control">
									<option th:value="null"
										th:selected="*{driverId} == null ? true : false">none</option>
									<option th:each="d : ${driverList}" th:value="${d.id}"
										th:text="${d.name}"
										th:selected=" (*{driverId} != null) ? (${d.id} == *{driverId} ? true : false) : false"></option>
								</select> <label th:if="${#fields.hasErrors('driverId')}"
									th:errors="*{driverId}">Driver Error </label>
							</div>
							<div class="col-2">
								<label>Vehicle:</label> <select th:field="*{vehicleId}"
									class="form-control">
									<option th:value="null">none</option>
									<option th:each="vehicle : ${vehicleList}"
										th:value="${vehicle.id}" th:text="${vehicle.name}"></option>
								</select> <label th:if="${#fields.hasErrors('vehicleId')}"
									th:errors="*{vehicleId}">Vehicle Error </label> <br /> <br />
							</div>
						</div>

						<br /> <br />
						<h5>Start address</h5>
						<div class="form-row">
							<div class="col-4">
								<label>First name:</label> <input type="text"
									class="form-control" th:field="*{firstname_1}" /> <label
									th:if="${#fields.hasErrors('firstname_1')}"
									th:errors="*{firstname_1}">First name_1 Error</label>

							</div>

							<div class="col-4">
								<label>Last name:</label> <input type="text"
									class="form-control" th:field="*{lastname_1}" /> <label
									th:if="${#fields.hasErrors('lastname_1')}"
									th:errors="*{lastname_1}">Last name_1 Error</label>

							</div>
						</div>


						<div class="form-row">
							<div class="col-4">
								<label>Street:</label> <input type="text" class="form-control"
									id="inputAddress" th:field="*{street_1}" /> <label
									th:if="${#fields.hasErrors('street_1')}"
									th:errors="*{street_1}">Street_1 Error </label>

							</div>

							<div class="col-4">
								<label>Number:</label> <input type="text" class="form-control"
									id="inputAddress" th:field="*{number_1}" /> <label
									th:if="${#fields.hasErrors('number_1')}"
									th:errors="*{number_1}">Number_1 Error </label>

							</div>
						</div>




						<div class="form-row">
							<div class="col-4">
								<label>City:</label> <input type="text" class="form-control"
									th:field="*{city_1}" /> <label
									th:if="${#fields.hasErrors('city_1')}" th:errors="*{city_1}">City_1
									Error </label>
							</div>
							<div class="col-2">
								<label>PLZ:</label> <input type="number" class="form-control"
									th:field="*{plz_1}" /> <label
									th:if="${#fields.hasErrors('plz_1')}" th:errors="*{plz_1}">PLZ_1
									Error </label>
							</div>
						</div>



						<br /> <br />
						<h5>End address</h5>
						<div class="form-row">
							<div class="col-4">
								<label>First name:</label> <input type="text"
									class="form-control" th:field="*{firstname_2}" /> <label
									th:if="${#fields.hasErrors('firstname_2')}"
									th:errors="*{firstname_2}">First name_2 Error</label>

							</div>

							<div class="col-4">
								<label>Last name:</label> <input type="text"
									class="form-control" th:field="*{lastname_2}" /> <label
									th:if="${#fields.hasErrors('lastname_2')}"
									th:errors="*{lastname_2}">Last name_2 Error</label>

							</div>
						</div>


						<div class="form-row">
							<div class="col-4">
								<label>Street:</label> <input type="text" class="form-control"
									th:field="*{street_2}" /> <label
									th:if="${#fields.hasErrors('street_2')}"
									th:errors="*{street_2}"> Street_2 Error </label>

							</div>

							<div class="col-4">
								<label>Number:</label> <input type="text" class="form-control"
									th:field="*{number_2}" /> <label
									th:if="${#fields.hasErrors('number_2')}"
									th:errors="*{number_2}"> Number_2 Error </label>

							</div>
						</div>




						<div class="form-row">
							<div class="col-4">
								<label>City:</label> <input type="text" class="form-control"
									th:field="*{city_2}" /> <label
									th:if="${#fields.hasErrors('city_2')}" th:errors="*{city_2}">City_2
									Error </label>
							</div>
							<div class="col-2">
								<label>PLZ:</label> <input type="number" class="form-control"
									th:field="*{plz_2}" /> <label
									th:if="${#fields.hasErrors('plz_2')}" th:errors="*{plz_2}">PLZ_2
									Error </label>
							</div>
						</div>

						<br /> <br />
						<button type="submit" class="btn btn-outline-success">Save</button>
						<a href="/planner/list" class="btn btn-outline-danger">Cancel</a>

					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>