<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Trip editor</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Trip</h1>
	<form action="#" th:action="@{/tripedit}" th:object="${trip}"
		method="post">
		<p>
			Customer <input type="text" th:field="*{customer}" />
		</p>
		<p>Start address</p>
		<p>
			<input type="text" th:field="*{startAddress}" />
		</p>
		<p>End address</p>
		<p>
			<input type="text" th:field="*{endAddress}" />
		</p>
		<p>
			Date and time <input type="datetime" th:field="*{startTime}" />
		</p>
		<p>
			Animal <input type="text" th:field="*{animal}" />
		</p>
		<p>
			Count <input type="number" th:field="*{animalCount}" />
		</p>

		<p>
			Driver <input type="text" th:field="*{driver}" />
		</p>

		<p>
			<input type="submit" value="Submit" /> <input type="reset"
				value="Reset" />
		</p>
	</form>
</body>
</html>