<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<h1>Register</h1>

	<form th:action="@{/user}" th:object="${user}" method="post">

		Username:<br /> <input type="text" placeholder="Username"
			th:field="*{username}" size="30" maxlength="100" />
		<p th:each="error: ${#fields.errors('username')}" th:text="${error}">Validation
			error</p>

		<br /> Password:<br /> <input type="password" placeholder="Password"
			th:field="*{password}" size="30" maxlength="100" /> <br />
		<p th:each="error: ${#fields.errors('password')}" th:text="${error}">Validation
			error</p>
		
		<br /> <a href="/">Login</a>
		<button type="submit">Register</button>
	</form>


</body>
</html>