<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    
    <h1>Register</h1>
    
    <form action="/action_page.php">
	
            Name:<br>
            <input type="text" name="Name" placeholder="" size="30" maxlength="100"/> 
            <br>
        
            E-mail:<br>
            <input type="text" name="E-mail" placeholder=""  size="30" maxlength="100"/>
            <br>
        
            Code:<br>
            <input type="text" name="Code"  placeholder="" size="30" maxlength="100"/>
            <br><br>
        
        	<input type="radio" name="Feedback" value="Driver" checked="checked" />Driver
			<input type="radio" name="Feedback" value="Logistician" checked="checked" />Logistician
            <br><br>
        
       		Password:<br>
            <input type="password" name="Password" placeholder=""  size="30" maxlength="100"/>
            <br>
            
            Password confirmation:<br>
            <input type="password" name="Password" placeholder=""  size="30" maxlength="100"/>
            <br><br>
       
            <button type="submit">SUBMIT</button>
        
        
    </form>
	
</body>
</html>